Ej41_Spring_WS_Cliente/src/main/resources/xml/clientes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://curso.com/webservice/clientes"
           targetNamespace="http://curso.com/webservice/clientes" 
           elementFormDefault="qualified">

    <xs:complexType name="cliente">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="direccion" type="xs:string"/>
            <xs:element name="telefono" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="altaClienteRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cliente" type="tns:cliente"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="altaClienteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="modificarClienteRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cliente" type="tns:cliente"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="modificarClienteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="resultado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="bajaClienteRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="bajaClienteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="confirmacion" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="buscarPorIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="buscarPorIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="listarClientesRequest">
        <xs:complexType>
            <xs:sequence/> </xs:complexType>
    </xs:element>
    <xs:element name="listarClientesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clientes" type="tns:cliente" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>